.top-nav {
    background-color: #2288aa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px #0003;
    padding-left: 2em;
}
.top-nav ul {
    list-style: none;
    padding: 0;
}
.top-nav li {
    font-family: sans-serif;
    font-weight: bold;
    color: #fffd;
    margin: 5px;
    display: inline-block;
    padding: 2px;
}
.top-nav li:hover {
    text-decoration: underline;
}
.top-nav li:active {
    color: #fff;
}
.top-nav .pulldown-menu {
    display: none;
    position: absolute;
    background-color: white;
}
/* This doesn't work */
.top-nav li:hover .pulldown-menu {
    display: block;
}

main {
    margin-top: 100px;
    margin-left: 2em;
}
